*.dvi
*.ps
*.aux
*.bbl
*.blg
*.log
*.pyc
.idea
__pycache__


packages/Common/classes/parser.out
packages/Common/classes/parsetab.py
.VSCodeCounter/.VSCodeCounterCountRealtime
docs/build/
docs/_build/

