graphviz==0.8.4
Jinja2>=3.0.2
owlready2==0.35
pydotplus==2.0.2
PyPDF2==1.26.0
PyQt5==5.15.6
PySide2==5.15.2
setuptools==45.2.0

rdflib>=6.2.0
networkx>=3.1
ply>=3.11
SPARQLWrapper>=2.0.0
future>=0.18.2
